* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body {
  /* background-color: rgba(128, 150, 150, 0.4); */
  font-family: 'Encode Sans', sans-serif;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
  background-size: 100%;
  color: white;
}

.grid {  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.row-1, .row-2, .row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.box-1, .box-2, .box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.box-1, .box-2, .box3 {
  transition: background-color 0.5s;
}

.box-1:hover, .box-2:hover, .box-3:hover {
  background-color: rgba(135, 207, 235, 0.4);
}

.game-name {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  width: 100%;
  color: white;
}

.game-info {
  font-weight: 400;
  text-align: center;
  color: white;
}

header {
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

main {
  display: flex;
  justify-content: center;  
}