* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

body {
  font-family: 'Encode Sans', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
  background-size: 100%;
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto; 
}

.grid {  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border: 5px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  width: 210px;
  height: 210px;
  font-family: 'Architects Daughter', cursive;
}

.row-1, .row-2, .row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.box-1, .box-2, .box-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
}

.box-1:hover, .box-2:hover, .box-3:hover {
  background-color: rgba(135, 207, 235, 0.4);
}

.game-name {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  width: 100%;
  color: white;
}

.current-player {
  font-weight: 400;
  text-align: center;
  color: white;
}

header {
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-shadow: gray 2px 2px 3px;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.outcome {
  text-align: center;
  font-size: 1.5rem;
}

.game-container {
  width: 50%;
  height: 50%;
}

.game {
  width: 80%;
  margin: 0 auto;
}

.green {
  background-color: rgb(148, 221, 39);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgb(148, 221, 39);
  }
  50% {
    background-color: rgba(148, 221, 39, 0);
  }
  100% {
    background-color: rgb(148, 221, 39);
  }
}

.score {
  width: 25vw;
  height: fit-content;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px dashed rgba(250, 128, 114, 0.5);

}

.wins {
  text-align: left;
}

.wins p {
  display: inline;
  padding-left: 10px;
  color: azure
}

.right {  
  width: 25vw;
}

.middle {
  width: 100vw;
  height: 100vh;
  font-family: 'Architects Daughter', cursive;
}

.restart-btn {
  padding: 15px 20px;
  font-size: 1.25rem;
  border-radius: 20px;
  font-family: 'Architects Daughter', cursive;
  background-color: beige;
}

.reset-score-btn {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: rgb(230, 136, 82);
  margin-left: -10px;
}

/* Test Code */
.popup {
  width: 80vw;
  /* height: 50vh; */
  height: fit-content;
  margin: 25vh auto;
  background-color: rgba(105,105,105, 0.2);
  background-repeat: no-repeat;
  color: white;
  font-size: 3rem;
  position: absolute;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  border-radius: 30px;
  box-shadow: black 10px 10px 10px;
  max-width: 800px;
}

.popup-title {
  margin-top: 10px;
  margin-bottom: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.grid {
  visibility: hidden;
}

.token-select {
  display: flex;
  justify-content: space-around;
}

.token-select div {
  border-radius: 10px;
  /* border: 3px solid rgba(132, 208, 255, 0.5); */
  margin: 3px;
}

.token-select div:hover {
  width: 110%;
  height: 110%;
  z-index: 100;
  position: relative;
  top: -10%;
  left: -10%;
  box-shadow: black 3px 3px 5px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    top: -10%;
  }
  50% {
    top: -20%;
  }
  100% {
    top: -10%;
  }
}

.player1-tkn div:hover {
  /* border: 2px solid rgba(132, 208, 255, 0.5); */
  border: 2px solid yellow;
}

.player2-tkn div:hover {
  /* border: 2px solid rgba(255, 0, 0, 0.5); */
  border: 2px solid yellow;
}

.players {
  margin-top: 10px;
  margin-bottom: 10px;  
}

.token-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
}

.player1-tkn .token-grid {
  background-color: rgba(132, 208, 255, 0.5);
  border-radius: 10px;
  box-shadow: black 3px 3px 10px;
}

.player2-tkn .token-grid {
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: black 3px 3px 10px;
}

.token-grid div {
  width: 75px;
  height: 75px;
  background-size: cover;
  padding: 5px;
  background-repeat: no-repeat;
}

.b-avt-1 {
  background-image: url('./blue-avatars/b-scout.png');
}

.b-avt-2 {
  background-image: url('./blue-avatars/b-soldier.png');
}

.b-avt-3 {
  background-image: url('./blue-avatars/b-pyro.png');
}

.b-avt-4 {
  background-image: url('./blue-avatars/b-demo.png');
}

.b-avt-5 {
  background-image: url('./blue-avatars/b-heavy.png');
}

.b-avt-6 {
  background-image: url('./blue-avatars/b-engineer.png');
}

.b-avt-7 {
  background-image: url('./blue-avatars/b-medic.png');
}

.b-avt-8 {
  background-image: url('./blue-avatars/b-sniper.png');
}

.b-avt-9 {
  background-image: url('./blue-avatars/b-spy.png');
}

.r-avt-1 {
  background-image: url('./red-avatars/r-scout.png');
}

.r-avt-2 {
  background-image: url('./red-avatars/r-soldier.png');
}

.r-avt-3 {
  background-image: url('./red-avatars/r-pyro.png');
}

.r-avt-4 {
  background-image: url('./red-avatars/r-demo.png');
}

.r-avt-5 {
  background-image: url('./red-avatars/r-heavy.png');
}

.r-avt-6 {
  background-image: url('./red-avatars/r-engineer.png');
}

.r-avt-7 {
  background-image: url('./red-avatars/r-medic.png');
}

.r-avt-8 {
  background-image: url('./red-avatars/r-sniper.png');
}

.r-avt-9 {
  background-image: url('./red-avatars/r-spy.png');
}

.start {
  font-family: 'Architects Daughter', cursive;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 1.75rem;
}